.App {
  background-color: whitesmoke;
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  place-items: center;
}

.app__wrapper {
  min-height: 60vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 32px;
  box-shadow: 3px 3px 2px 3px rgb(143, 192, 192);
}

.app__wrapper--image {
  border-radius: 50%;
  padding: 2%;
}

.app__wrapper--fullName,
.app__wrapper--email,
.app__wrapper--gender {
  min-height: 5vh;
  width: 20vw;
  margin-top: 7vh;
  font-size: larger;
}

.app__wrapper--btn {
  margin: 5vh 0 1vh 0;
  width: 10vw;
  min-height: 7vh;
  background-color: darkgrey;
  font-size: larger;
  border-radius: 0.25rem;
  border: none;
  transition: all 0.5s ease-in-out;
}

.app__wrapper--btn:hover {
  background: cyan;
  cursor: pointer;
}
